<%- include('partials/header'); -%>
<%- include('partials/main-navbar'); -%>

<body>
  <div class="container introduce-container">
    <h3 class="introduce-text">
      결혼식 로망같은 거 없다고 믿고 살아왔는데<br>
      막상 결혼 준비를 시작하니 A부터 Z까지 신경이 쓰이더라구요.<br><br>

      그런데 결혼 준비의 가장 첫 단계 중 하나인 결혼식장을 찾는 순간부터<br>
      정보의 홍수라는 인터넷 속에서 홍보성 글 외에<br>
      제대로된 후기를 찾기가 너무 어렵다고 느껴졌습니다.<br><br>

      숙박시설도 가격 비교부터 평점까지 따져가며 결정할 수 있는데<br>
      왜 결혼식장에 대한 후기는 이렇게 찾기가 어려운걸까요?<br><br><br>


      그래서 직접 만들어봤습니다.<br><br><br>


      내가 결혼한 곳도 좋고, 내가 하객으로 방문한 곳도 좋고,<br>
      심지어는 내가 견적만 받았던 곳이라도 좋다!<br>
      내가 가본 결혼식장이라면 어디든 각 항목별 평점을 매겨주세요!<br><br>

      단, 모든 결혼식장은 그곳에서 결혼을 한 신랑신부에겐 잊을 수 없는 소중한<br>
      공간이기에 결혼식장 자체에 대한 전체 평점은 공개하지 않습니다.
    </h3>
    <div class="introduce-saying">
      <h3>
        결혼 준비를 하며 행복해하던 아내 모습을 잊을 수가 없어요.<br>
        이 프로젝트로 그때 그 설렘을 다시 되찾아주고 싶습니다.<br>
        결혼을 준비하시는 분들에게도 많은 도움이 되었으면 합니다.
      </h3>
      <p>- 만든 이 -</p>
    </div>
  </div>


</body>


<%- include('partials/footer'); -%>
